<%= form_for @user, url: sessions_path, html: { method: :post } do |f| %>
	<%= f.text_field :email, placeholder: "Email or username" %>
	<%= f.password_field :password, placeholder: "Password" %>
	<% if flash[:error] %>
		<div class="errors">
			<%= flash[:error] %>
		</div>
	<% end %>
	<%= f.submit value: "Login" %>
<% end %>

<p class="not-a-member">Not a member? <%= link_to "Sign up", new_user_path %> is free</p>