<div class="new-source-container">
	<%= form_for [@topic, @skill, @source] do |f| %>
		<%= f.label :name, "Name of the resource" %>
		<%= f.text_field :name, placeholder: "Example Article" %>
		<%= f.label :url, "Full Address" %>
		<%= f.text_field :url, placeholder: "http://www.example-blog.com/example-article" %>
		<% if @source.errors.any? %>
	  <div class="errors">
	  	<%= @source.errors.full_messages.first %>
	  </div>
		<% end %>
		<%= f.submit value: "Submit resource" %>
	<% end %>
</div>