<header class="topics-header">
	<h1 class="topic-title">What do you want to know more about?</h1>
	<%# if !current_user %>
		<h3 class="pitch">If you're interested in web development, design, or how to build a startup, <%= link_to "sign up", "/signup" %> for free access <br /> to learning paths which will tell you exactly what you need to learn.</h3>
	<%# end %>
</header>

<%= render "layouts/notice" %>

<!-- Left topics nav-->
<%= render "layouts/left_nav", categories: @topic_names %>

<!-- Show all topics -->
<div class="topics-container">
	<% @topics.each_with_index do |topic, i| %>
		<article class="topic block bg<%= (i%6) + 1 -%>" id=<%= topic.name.gsub(' ', '') %>>
			<button class='info-opener' data-type="topics" data-id=<%= topic.id %>>I</button>
			<h2 class="topic-name"><%= link_to topic.name, topic %></h2>
			<ul class="skills-container">
				<% topic.skillz_hash.keys.each do |skill_name| %>
					<li><%= link_to skill_name, "/topics/#{topic.id}/##{skill_name.gsub(' ', '')}" %></li>
				<% end %>
			</ul>
		</article>
	<% end %>
</div>

<!-- Learning Path -->
<aside class="learning_path-container">
<% if current_user %>
	<button class="learning_path-choose">Select a learning path</button>
	<%= render "learning_path/learning_path" %>
<% else %>
	<button class="learning_path-fake"><%= link_to "Select a learning path", "/login" %></button>
<% end %>
</aside>

<!-- Choose Learning Path -->
<ul class="choose-path-container">
	<% @learning_paths.each do |path| %>
		<li class="path-select" data-id=<%= path.id %>><%= path.name %></li>
	<% end %>
</ul>

<!-- Flash info box skeleton -->

<div class="page-cover">
</div>

<div class="info-container hide">
	<button class="info-close" data-type="topics">X</button>
	<h2 class="info-name"></h2>
	<p class="info-description"></p>
</div>