<!-- Skills nav -->
<%= render "layouts/left_nav", categories: @skills.keys %>

<!-- Show all skills -->
<div class="skills-container">
	<% @skills.each do |skill_name, sources| %>
		<article class="skill" id=<%= skill_name.gsub(' ', '') %>>
			<h2 class="skill-name"><%= skill_name %></h2>
			<ul class="sources-container">
				<% sources.each do |source| %>
					<li>
						<button class="source-info-opener" data-source-id=<%= source.id %>>I</button>
						<%= link_to source.name, source.url, target: "_blank" %>
					</li>
				<% end %>
			</ul>
		</article>
		<% end %>
</div>

<!-- Flash info box skeleton -->

<div class="page-cover">
</div>

<div class="source-show-container hide">
	<button class="source-show-close">X</button>
	<img class="source-img" alt=""></img>
	<h2 class="source-name"></h2>
	<div class="source-info"></div>
	<p class="source-summary"></p>
</div>