<!-- Header -->
<header class="section-block bg-brown2">
	<div class="container">
		<h1 class="topic-title"><%= @topic.name %></h1>
		<p>Global CSS settings, fundamental HTML elements styled and enhanced with extensible classes, and an advanced grid system.</p>
	</div>
</header>

<!-- Skills nav -->
<div class="col-lg-2">
	<%= render "layouts/left_nav", categories: @skills.keys %>
</div>
<!-- Show all skills -->
<div class="col-lg-10">
	<div class="skills-container">
		<% @skills.each do |skill_name, sources| %>
			<article class="skill section-block col-lg-6" id=<%= skill_name.gsub(' ', '') %>>
				<h2 class="skill-name"><%= skill_name %></h2>
				<ul class="sources-container">
					<% sources.each do |source| %>
						<li>
							<button class="info-opener" data-type="sources" data-id=<%= source.id %>>I</button>
							<%= link_to source.name, source.url, target: "_blank" %>
						</li>
					<% end %>
				</ul>
			</article>
			<% end %>
	</div>
</div>

<!-- Flash info box skeleton -->

<div class="page-cover">
</div>

<div class="info-container hide">
	<button class="info-close" data-type="sources">X</button>
	<img class="source-img" alt=""></img>
	<h2 class="source-name"></h2>
	<div class="source-info"></div>
	<p class="source-summary"></p>
</div>