<!-- Header -->
<header class="topics-header">
	<h1 class="topic-title"><%= @topic.name %></h1>
</header>

<!-- Skills nav -->
<%= render "layouts/left_nav", categories: @skills.keys %>

<!-- Show all skills -->
<div class="skills-container">
	<% @skills.each do |skill_name, sources| %>
		<article class="skill" id=<%= skill_name.gsub(' ', '') %>>
			<h2 class="skill-name"><%= skill_name %></h2>
			<ul class="sources-container">
				<% sources.each do |source| %>
					<li>
						<button class="info-opener" data-type="sources" data-id=<%= source.id %>>I</button>
						<%= link_to source.name, source.url, target: "_blank" %>
					</li>
				<% end %>
			</ul>
		</article>
		<% end %>
</div>

<!-- Learning Path -->
<aside class="learning_path-container">
<% if current_user %>
	<%= render "learning_path/learning_path" %>
<% else %>
	<button class="learning_path-fake"><%= link_to "Select a learning path", "/login" %></button>
<% end %>
</aside>

<!-- Choose Learning Path -->
<ul class="choose-path-container">
	<% @learning_paths.each do |path| %>
		<li class="path-select" data-id=<%= path.id %>><%= path.name %></li>
	<% end %>
</ul>

<!-- Flash info box skeleton -->

<div class="page-cover">
</div>

<div class="info-container hide">
	<button class="info-close" data-type="sources">X</button>
	<img class="source-img" alt=""></img>
	<h2 class="source-name"></h2>
	<div class="source-info"></div>
	<p class="source-summary"></p>
</div>