<!-- Header -->
<header class="topics-header">
	<h1 class="topic-title"><%= @topic.name %></h1>
	<p class="pitch"><%= @topic.description %></p>
</header>

<%= render "layouts/notice" %>

<!-- Skills nav -->
<%= render "layouts/left_nav", categories: @skills.keys %>

<!-- Show all skills -->
<div class="skills-container">
	<% @skills.each_with_index do |(skill_name, sources), i| %>
		<article class="skill block bg<%= (i%6) + 1 -%>" id=<%= skill_name.gsub(' ', '') %>>
			<h2 class="skill-name"><%= skill_name %></h2>
			<ul class="sources-container">
				<% sources.each do |source| %>
					<li>
						<button class="info-opener" title="Resource Info" data-type="sources" data-id=<%= source.id %>>?</button>
						<%= link_to source.name, source.url, target: "_blank" %>
					</li>
				<% end %>
			</ul>

			<form class="btn-new-source" action=<%= new_topic_skill_source_path(@topic, @topic.skills.first) %>>
    		<input type="submit" value="+" title="Add a new resource">
			</form>
		</article>
		<% end %>
</div>

<!-- Learning Path -->
<aside class="learning_path-container">
<% if current_user %>
	<button class="learning_path-choose">Select a learning path</button>
	<%= render "learning_path/learning_path" %>
<% else %>
	<button class="learning_path-fake"><%= link_to "Select a learning path", "/login" %></button>
<% end %>
</aside>

<!-- Choose Learning Path -->
<ul class="choose-path-container">
	<% @learning_paths.each do |path| %>
		<li class="path-select" data-id=<%= path.id %>><%= path.name %></li>
	<% end %>
</ul>

<!-- Flash info box skeleton -->
<%= render "layouts/source_info_box" %>