<!DOCTYPE html>
<html>
<head>
  <title>Resourcer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="nav-top-container">
	<h1 class="logo"><%= link_to "LOGO", root_url %></h1>
	<ul class="nav-links">
		<% if current_user %>
			<li><%= link_to "Logout", session_path(1), method: :delete %></li>
		<% else %>
			<li><%= link_to "Login", "/login" %></li>
			<li><%= link_to "Sign Up", new_user_path %></li>
		<% end %>
	</ul>
</nav>

<% if flash[:notice] || flash[:alert] %>
	<div class="notice">
		<%= flash[:notice] if flash[:notice] %>
		<%= flash[:alert] if flash[:alert] %>
	</div>
<% end %>

<div class="page-container">
	<%= yield %>
</div>

</body>
</html>
